@font-face {
  font-family: "Red Hat Display";
  src: url("./assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
}

:root {
  --color-white: #fafafa;
  --color-teal: #4d96a9;
  --color-purple: #855fb1;
  --color-dark-purple: #28283d;
  --color-light-blue: #8fe3f9;
  --color-light-purple: #d9b8ff;
  --color-grey: #87879d;

  --font-size-heading: 2.5rem;
  --font-size-paragraph: 1rem;
  --font-size-s-heading: 2rem;
  --font-size-w-paragraph: 1.125rem;

  --line-height-header: 2.75rem;
  --line-height-paragraph: 1.625rem;
  --line-height-s-header: 2.25rem;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;

  --letter-spacing-p-header: 0.25rem;

  --redhat: "Red Hat Display", sans-serif;
}

body {
  font-family: var(--redhat);
  margin: 0;
}

.teal-button:hover {
  opacity: 80%;
}

.purple-button:hover {
  opacity: 80%;
}

.background-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: inset 0 0 0 1000px rgba(77, 150, 169, 0.8);
  background-image: url("./assets/mobile/image-footer.jpg");
  background-position: center top;
  padding: 4rem 2rem 4rem 2rem;
  z-index: 1;
}

.flush-center-circle {
  margin: 6rem 0 -2rem 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;
  z-index: 2;
  /* position: absolute; */
}

.white-text {
  color: var(--color-white);
}

.grey-text {
  color: var(--color-grey);
}

.desktop-profile-image {
  display: none;
}

.light-blue-text {
  color: var(--color-light-blue);
}

.light-purple-text {
  color: var(--color-light-purple);
}

.teal-text {
  color: var(--color-teal);
}

.center-circle {
  margin: 7rem 0 4rem 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.border-circle {
  position: relative;
  display: inline-flex;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
}

.border-circle::before {
  opacity: 0.25;
  content: "";
  position: absolute;
  top: -3rem; /* Adjust the length of the line as needed */
  left: 50%;
  width: 1px;
  height: 3rem;
  background-color: grey;
  transform: translateX(-50%);
}

.teal-button {
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color: var(--color-teal);
  border-radius: 2rem;
  font-weight: var(--font-weight-bolder);
}

.purple-button {
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color: var(--color-purple);
  border-radius: 2rem;
  font-weight: var(--font-weight-bolder);
}

.heading-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

.profile-image {
  max-width: 110%;
  height: auto;
}

.heading-text-section {
  margin: 2rem auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.scorpion-mortal-kombat {
  margin: 0.5rem 0 1rem 0;
  font-weight: var(--font-weight-medium);
}
.remove-top-margin {
  margin-top: 0;
}

.small-bottom-margin {
  margin-bottom: 2.5rem;
}

.header-text {
  margin: 1rem 1.5rem 1rem 1.5rem;
  font-size: var(--font-size-heading);
  line-height: var(--line-height-header);
}

.paragraph-text {
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
}

.paragraph-w-text {
  font-size: var(--font-size-w-paragraph);
  line-height: var(--line-height-paragraph);
}

.header-s-text {
  font-size: var(--font-size-s-heading);
  line-height: var(--line-height-s-header);
}

.text-spacing {
  letter-spacing: var(--letter-spacing-p-header);
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.grid-users {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Indicates two columns */
  grid-template-rows: repeat(2, 1fr); /* Indicates two rows */
  gap: 1.5rem;
  margin: 1.5rem;
}

.grid-img {
  border-radius: 0.5rem;
  /* padding: 1rem; */
}

.img {
  max-width: 100%;
}

.info-bottom-section {
  margin-top: 4rem;
  text-align: center;
}

.bottom-text-section {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* MAYBE CHANGE FROM ABSOLUTE LINE POSITIONING TO INSTEAD HAVE A SEPERATE LINE ELEMENT WITH NO MARGIN ABOVE THE CIRCLE */
@media (min-width: 768px) {
  /* Your CSS styles here */
  .button-box {
    flex-direction: row;
    justify-content: center;
  }

  .heading-text-section {
    max-width: 26rem;
  }

  .header-text {
    margin: 1rem 5rem 1rem 5rem;
  }

  .grid-users {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .info-bottom-section {
    margin-top: 3rem;
  }

  .squish-bottom-header {
    max-width: 22rem;
  }

  .squish-bottom-paragraph {
    max-width: 35rem;
  }

  .squish-footing-header {
    max-width: 22rem;
  }

  .squish-footing-paragraph {
    max-width: 35rem;
  }
}

@media (min-width: 1440px) {
  .profile-image {
    display: none;
  }

  .desktop-profile-image {
    display: block;
    max-width: 110%;
  }

  .desktop-header {
    display: flex;
    overflow: hidden;
  }

  .background-img {
    flex-direction: row;
  }

  .grid-users {
    margin: 1.5rem 9rem 1.5rem 9rem;
  }

  .header-s-text {
    margin-top: 0;
    margin-bottom: 0;
  }
}
